.app-container {
  background-image: url('./assets/TDL.png'); /* Ruta de tu imagen */
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 20px;
}

/* Estilo para el contador de tareas */
.card-text {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.card-text strong {
  font-size: 1.2rem; /* Reducido el tamaño del texto */
  color: #fff;
  padding: 5px 12px; /* Reducido el padding */
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Colores para los contadores */
.card-text .total {
  background-color: #5bc0de; /* Azul claro */
}

.card-text .completed {
  background-color: #28a745; /* Verde */
}

.card-text .pending {
  background-color: #ffc107; /* Amarillo */
}

/* Estilo del contenedor de la card */
.card-container {
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 900px;
  margin: 0 auto; /* Asegura que el card esté centrado */
  overflow: hidden; /* Evita que el contenido se desborde */
}

/* Estilos generales para los botones */
button {
  font-weight: 500;
}
